---
import "./global.css";
---

<div class="card">
  <div class="list">
    <div class="item">
      <div class="scale">
        <div class="scale__track"></div>
        <div class="scale__fill scale__fill--gradient clip--path"></div>
        <div class="scale__marker"></div>
      </div>
    </div>
  </div>
</div>

<style>
  .clip--path {
    clip-path: path(
      evenodd,
      "M 0 0 H 489 V 40 H 0 Z M 61.125 -20 A 40 40 0 1 0 61.125 60 A 40 40 0 1 0 61.125 -20"
    );
  }
</style>
