---
import type { CollectionEntry } from "astro:content";
import { YouTube } from "@astro-community/astro-embed-youtube";

import ArticleLayout from "~/layouts/Article/Article.astro";

type Props = CollectionEntry<"videos">["data"] & {
  slug: string;
  collection: string;
};

const { videoUrl, videoCoverUrl, videoCoverAlt, ...restProps } = Astro.props;
---

<ArticleLayout {...restProps}>
  <div>
    <YouTube id={videoUrl} posterQuality="max" />
  </div>
  <slot />
</ArticleLayout>
