.scale__mix-blend-mode {
  overflow: hidden;
}

.scale__hole {
  width: 80px;
  height: 80px;
  position: absolute;
  left: calc(var(--marker-position) - var(--hole-radius));
  top: calc(var(--hole-radius) / -2);
  background: radial-gradient(circle 40px at center, rgb(17 25 31) 99%, transparent 100%);
  mix-blend-mode: normal;
}
