.scale__fill {
  display: flex;
  align-items: center;
  container-type: inline-size;
}

.scale__start, .scale__end {
  background-size: 100cqw 100%;
  height: 100%;
  flex: 1 1 auto
}

.scale__start {
  width: 20%;
  border-radius: var(--border-radius) 0 0 var(--border-radius) ;
}

.scale__end {
  background-position-x: right;
  border-radius: 0 var(--border-radius) var(--border-radius) 0;
}

.scale__marker {
  position: static;
  border: calc(var(--thumb-size) / 2) solid transparent;
  box-sizing: content-box;
  background-clip: padding-box;
}
