---
import { styles } from "./Callout.css";

interface Props {
  variant: "info" | "warning";
}

const { variant } = Astro.props;
---

<aside class:list={[styles.callout, styles.variant[variant]]}>
  <div class={styles.badge}>
    <svg>
      <use href={`/images/icons.svg#${variant}`}></use>
    </svg>
  </div>
  <slot />
</aside>
