---
import { getCollection } from "astro:content";

import PageLayout from "~/layouts/Page/Page.astro";
import Container from "~/components/Container/Container.astro";
import { getCollectionFilter } from "~/utils/getCollectionFilter";
import TagList from "~/components/TagList/TagList.astro";
import { TAGS, type Language } from "~/i18n/ui";
import { getCurrentLocale, useTranslations } from "~/i18n/utils";
import { styles } from "./TagListPage.css";

const isDev = import.meta.env.DEV;

const currentLocale = getCurrentLocale(Astro);

const t = useTranslations(currentLocale as Language);

const articles = await getCollection("articles", ({ data, slug }) =>
  getCollectionFilter({
    lang: currentLocale,
    slug,
    isDev,
    draft: Boolean(data.draft),
  }),
);

const videos = await getCollection("videos", ({ data, slug }) =>
  getCollectionFilter({
    lang: currentLocale,
    slug,
    isDev,
    draft: Boolean(data.draft),
  }),
);

const entriesMap = [...videos, ...articles].reduce(
  (acc, item) => {
    const tags = item.data.tags || [];

    for (const tag of tags) {
      if (acc[tag]) {
        acc[tag].total += 1;
      } else {
        acc[tag] = {
          title: tag,
          tag: tag,
          total: 1,
        };
      }
    }

    return acc;
  },
  {} as Record<
    string,
    { title: keyof typeof TAGS; tag: keyof typeof TAGS; total: number }
  >,
);

const entries = Object.values(entriesMap);
---

<PageLayout>
  <Container>
    <h1 class={styles.title} id="tags">{t("tags.title")}</h1>
    <TagList entries={entries} />
  </Container>
</PageLayout>
