---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a"> & {
  external?: boolean;
};
const { external, ...restProps } = Astro.props;
---

<a target={external ? "_blank" : undefined} {...restProps}><slot /></a>
